<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDEnNFmiuXtSoG7CUWMo94PYV-l7Qd95QM</string>
	<key>GCM_SENDER_ID</key>
	<string>532523505790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.barcodeApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>barcodescannerapp-12913</string>
	<key>STORAGE_BUCKET</key>
	<string>barcodescannerapp-12913.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532523505790:ios:d41f2e64b7e2b03f41602f</string>
</dict>
</plist>